In [36]:
from bs4 import BeautifulSoup
import requests
import csv

def parseHTML(soup):
    table = soup.find('div', {'class':'back'})
    rows = table.findAll('tr')

    output = []

    for row in rows[1:]: 
        cells = row.findAll('td')
        output_row = []
        
        for cell in cells:
            cell_inhoud = cell.get_text().strip()
            output_row.append(cell_inhoud)
        
        output.append(output_row)
    
    return output    

if __name__ == '__main__':
    total = []

    for year in range(2000,2022):
        params = {'r' : 1, 'y' : year}

        r = requests.get('https://firstcycling.com/race.php', params=params)
        soup = BeautifulSoup(r.text)
        print('Scraping...', soup.title.text + ' ' + str(year))
        rows = parseHTML(soup)
        total += rows

    with open('test_output.csv', 'w', encoding='utf8', newline='') as fo:
        writer = csv.writer(fo)
        writer.writerows(total)

Scraping... Tour Down Under -  FirstCycling.com 2000
Scraping... Tour Down Under -  FirstCycling.com 2001
Scraping... Tour Down Under -  FirstCycling.com 2002
Scraping... Tour Down Under -  FirstCycling.com 2003
Scraping... Tour Down Under -  FirstCycling.com 2004
Scraping... Tour Down Under -  FirstCycling.com 2005
Scraping... Tour Down Under -  FirstCycling.com 2006
Scraping... Tour Down Under -  FirstCycling.com 2007
Scraping... Tour Down Under -  FirstCycling.com 2008
Scraping... Tour Down Under -  FirstCycling.com 2009
Scraping... Tour Down Under -  FirstCycling.com 2010
Scraping... Tour Down Under -  FirstCycling.com 2011
Scraping... Tour Down Under -  FirstCycling.com 2012
Scraping... Tour Down Under -  FirstCycling.com 2013
Scraping... Tour Down Under -  FirstCycling.com 2014
Scraping... Tour Down Under -  FirstCycling.com 2015
Scraping... Tour Down Under -  FirstCycling.com 2016
Scraping... Tour Down Under -  FirstCycling.com 2017
Scraping... Tour Down Under -  FirstCycling.com 2018
Scraping... Tour Down Under -  FirstCycling.com 2019
Scraping... Tour Down Under -  FirstCycling.com 2020
Scraping...  -  FirstCycling.com 2021

In [39]:
import pandas as pd
df = pd.DataFrame(total)
print(df)

            0                     1     2                       3         4  \
0          01        Gilles Maignan  1968        Ag2r - Décathlon  19:02:02
1          02        Stuart O'Grady  1973         Crédit Agricole      + 12
2          03      Steffen Wesemann  1971   Team Deutsche Telekom      + 14
3          04        Ludovic Turpin  1975        Ag2r - Décathlon      + 18
4          05           Sandy Casar  1979   La Française des Jeux      + 24
...       ...                   ...   ...                     ...       ...
2519      DNF          Rafael Valls  1987         Bahrain-McLaren
2520      DNF         Szymon Sajnok  1997                CCC Team
2521      DNF           Ben Hermans  1986  Israel Start-Up Nation
2522      DNF  Alexandr Riabushenko  1995       UAE Team Emirates
2523  No data                  None  None                    None      None

         5
0     None
1     None
2     None
3     None
4     None
...    ...
2519
2520
2521
2522
2523  None

[2524 rows x 6 columns]